@import url('clash-grotesk.css');
@import url('satoshi.css');
@import url('https://fonts.cdnfonts.com/css/satoshi');
@import url('global.css');
@import url('sections/header.css');
@import url('sections/footer.css');
@import url('sections/intro.css');
@import url('sections/mainp.css');
@import url('sections/projet.css');
@import url('sections/design.css');
@import url('sections/informatique.css');
@import url('sections/propos.css');
@import url('projets/renault.css');
@import url('projets/recnorec.css');
@import url('designs/sketch.css');
@import url('infos/jeudelavie.css');
@import url('responsive.css');


                
:root{
     --couleur-noir: 0,0,0;
     --couleur-blanc:255,255,255;
     --couleur-jaune:255,246,144;
     --couleur-rouge:105,0,67;
     --couleur-grise:241,240,240;
     --couleur-fond:255,250,252;
     --couleur-jaune-clair:255,252,221;
     --couleur-orange:255,128,0;

     --satoshi: "Satoshi", sans-serif;
     --clash-grotesk: "Clash Grotesk", sans-serif;

}
